# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.venv
/output/social/.venv
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# local publishing scratch files
/docs/update steps.txt
/output/pgpz-community-qr.png
/output/zcash-forum-*.md
/output/social/command_examples.sh
/output/social/pgpz-li-*.png

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files (can opt-in for committing if needed)
.env*
!.env.example

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
# lambda
/lambda-build/
.aws-sam/
generateSignedUrl.zip
src/output.css

*storybook.log
